html {
    width: 960px;
    height: auto;
    background-color: white;
}

body {
    background-color: white;
    padding-left: 50px;

}

img {
    height: 246px;
    width: 237px;
    float: right;
    padding: 50px;
    margin-top: -445px;
    margin-right: 200px;
    opacity: 0.5;
    filter: Alpha(opacity=50)

}


form {
    height: 500px;
    padding-top: 40px;
    padding-left: 20px;
    color: orange;
    background-color: white;
}

button {
    padding-top: 10px;
}

.form-control2 {
    display: block;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label2 {
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: 1.0rem;
}

#submit, #review {
    margin-top: 20px;
}

#review {
    background-color: orange;
    border-color
}




